.herosection {
  height: 300px;
  background: url("../../Assets/Images/pngwing.com.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center left 25%;
  padding-top: 5rem;
}

.herosection_container {
  background: linear-gradient(to right, #000000d4 5%, var(--primary) 90%);
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: end;
  position: relative;
}

.button_container {
  position: absolute;
  bottom: 10%;
  right: 8%;
}

.hero_items {
  width: 50%;
  height: 100%;
  color: var(--white);
}

.hero_items h5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}
